parameters:
    level: 8

    paths:
        - src
        - tests

    excludePaths:
        - 'tests/*/Fixture/*'
        - 'tests/Rules/data/*'

    ignoreErrors:
        # this package relies havily on the file analyse
        - '#Calling PHPStan\\Analyser\\FileAnalyser::analyseFile\()\ is not covered by backward compatibility promise#'
