parameters:
	ignoreErrors:
		-
			message: "#^Calling PHPStan\\\\File\\\\SimpleRelativePathHelper\\:\\:getRelativePath\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 2
			path: src/ErrorReporting/PHPStan/ErrorFormatter/BladeTemplateErrorFormatter.php

		-
			message: "#^Creating new PHPStan\\\\File\\\\SimpleRelativePathHelper is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/ErrorReporting/PHPStan/ErrorFormatter/BladeTemplateErrorFormatter.php

		-
			message: "#^Method TomasVotruba\\\\Bladestan\\\\Rules\\\\BladeRule\\:\\:__construct\\(\\) has parameter \\$rules with generic interface PHPStan\\\\Rules\\\\Rule but does not specify its types\\: TNodeType$#"
			count: 1
			path: src/Rules/BladeRule.php

		-
			message: "#^Calling PHPStan\\\\DependencyInjection\\\\DerivativeContainerFactory\\:\\:create\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/TemplateCompiler/PHPStan/FileAnalyserProvider.php

		-
			message: "#^Calling PHPStan\\\\Rules\\\\DirectRegistry\\:\\:__construct\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/TemplateCompiler/Rules/TemplateRulesRegistry.php

		-
			message: "#^Calling PHPStan\\\\Rules\\\\DirectRegistry\\:\\:getRules\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/TemplateCompiler/Rules/TemplateRulesRegistry.php

		-
			message: "#^Class TomasVotruba\\\\Bladestan\\\\TemplateCompiler\\\\Rules\\\\TemplateRulesRegistry extends @final class PHPStan\\\\Rules\\\\DirectRegistry\\.$#"
			count: 1
			path: src/TemplateCompiler/Rules/TemplateRulesRegistry.php

		-
			message: "#^Extending PHPStan\\\\Rules\\\\DirectRegistry is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/TemplateCompiler/Rules/TemplateRulesRegistry.php

		-
			message: "#^Calling PHPStan\\\\Analyser\\\\FileAnalyser\\:\\:analyseFile\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/ViewRuleHelper.php

		-
			message: "#^Calling PHPStan\\\\Analyser\\\\FileAnalyserResult\\:\\:getErrors\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/ViewRuleHelper.php

		-
			message: "#^Creating new PHPStan\\\\Collectors\\\\Registry is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/ViewRuleHelper.php

		-
			message: "#^File ends with a trailing whitespace\\. This may cause problems when running the code in the web browser\\. Remove the closing \\?\\> mark or remove the whitespace\\.$#"
			count: 1
			path: tests/Rules/templates/empty.blade.php

		-
			message: "#^Creating new PHPStan\\\\Analyser\\\\Error is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: tests/TemplateCompiler/ErrorFilterTest.php
