parameters:
	ignoreErrors:
		-
			message: "#^Method Vural\\\\PHPStanBladeRule\\\\Compiler\\\\BladeToPHPCompiler\\:\\:setupBladeComponents\\(\\) is unused\\.$#"
			count: 1
			path: src/Compiler/BladeToPHPCompiler.php

		-
			message: "#^Creating new PHPStan\\\\Rules\\\\Registry is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/Rules/BladeRule.php

		-
			message: "#^Calling PHPStan\\\\Analyser\\\\FileAnalyser\\:\\:analyseFile\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/Rules/ViewRuleHelper.php

		-
			message: "#^Calling PHPStan\\\\Analyser\\\\FileAnalyserResult\\:\\:getErrors\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/Rules/ViewRuleHelper.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, mixed given\\.$#"
			count: 1
			path: tests/Compiler/BladeToPHPCompilerTest.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, mixed given\\.$#"
			count: 1
			path: tests/Compiler/FileNameAndLineNumberAddingPreCompilerTest.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, mixed given\\.$#"
			count: 1
			path: tests/Compiler/PhpContentExtractorTest.php

		-
			message: "#^Parameter \\#1 \\$rules of class Vural\\\\PHPStanBladeRule\\\\Rules\\\\BladeRule constructor expects array\\<PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\>\\>, array\\{PHPStan\\\\Rules\\\\Operators\\\\InvalidBinaryOperationRule\\} given\\.$#"
			count: 1
			path: tests/Rules/BladeViewRuleTest.php

		-
			message: "#^Parameter \\#1 \\$rules of class Vural\\\\PHPStanBladeRule\\\\Rules\\\\BladeRule constructor expects array\\<PHPStan\\\\Rules\\\\Rule\\<PhpParser\\\\Node\\>\\>, array\\{PHPStan\\\\Rules\\\\Operators\\\\InvalidBinaryOperationRule, PHPStan\\\\Rules\\\\Cast\\\\EchoRule, PHPStan\\\\Rules\\\\Variables\\\\DefinedVariableRule\\} given\\.$#"
			count: 1
			path: tests/Rules/LaravelViewFunctionRuleTest.php

