includes:
    - phpstan-baseline.neon
parameters:
    tmpDir: .build/phpstan/
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - tests/*/Fixture/*
        - tests/Rules/data/*