<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="tests/phpunit.xsd"
         cacheResult="false"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="false">
    <testsuites>
        <testsuite name="BladeRule">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>