includes:
    - ../config/extension.neon
    - ../vendor/symplify/template-phpstan-compiler/config/services.neon
    - ../vendor/symplify/astral/config/services.neon
parameters:
    checkExplicitMixed: true