includes:
    - ../../../config/extension.neon

parameters:
    bladestan:
        template_paths:
            - tests/Rules/templates
        namespaced_paths:
            dummyNamespace: tests/Rules/templates/nested/directory
