services:
    - TomasVotruba\Bladestan\TemplateCompiler\PHPStan\FileAnalyserProvider
    - TomasVotruba\Bladestan\TemplateCompiler\NodeFactory\VarDocNodeFactory
    - TomasVotruba\Bladestan\TemplateCompiler\NodeAnalyzer\MethodCallArrayResolver
    - TomasVotruba\Bladestan\TemplateCompiler\NodeAnalyzer\ParametersArrayAnalyzer
    - TomasVotruba\Bladestan\TemplateCompiler\TypeAnalyzer\TemplateVariableTypesResolver
    - TomasVotruba\Bladestan\TemplateCompiler\Reporting\TemplateErrorsFactory
    - TomasVotruba\Bladestan\TemplateCompiler\ErrorFilter
