services:
    - TomasVotruba\Bladestan\TemplateCompiler\PHPStan\FileAnalyserProvider
    - TomasVotruba\Bladestan\TemplateCompiler\NodeFactory\VarDocNodeFactory
    - TomasVotruba\Bladestan\TemplateCompiler\TypeAnalyzer\TemplateVariableTypesResolver
    - TomasVotruba\Bladestan\TemplateCompiler\ErrorFilter
    - TomasVotruba\Bladestan\PhpParser\SimplePhpParser
    - TomasVotruba\Bladestan\Compiler\FileNameAndLineNumberAddingPreCompiler

    -
        factory: TomasVotruba\Bladestan\Configuration\Configuration
        arguments:
            - %bladestan%
