parameters:
    templatePaths: []
parametersSchema:
    templatePaths: listOf(string())
services:
    errorFormatter.blade:
        class: Vural\PHPStanBladeRule\ErrorReporting\PHPStan\ErrorFormatter\BladeTemplateErrorFormatter
        arguments:
            showTipsOfTheDay: %tipsOfTheDay%
            editorUrl: %editorUrl%
    - PhpParser\ConstExprEvaluator
    - Illuminate\Filesystem\Filesystem
    - Illuminate\View\Compilers\BladeCompiler(cachePath: ::sys_get_temp_dir())
    -
        class: Vural\PHPStanBladeRule\Rules\BladeRule
        tags: [phpstan.rules.rule]
    -
        class: Illuminate\View\FileViewFinder
        arguments:
            files: Illuminate\Filesystem\Filesystem()
            paths: @Vural\PHPStanBladeRule\Support\DirectoryHelper::absolutizePaths(%templatePaths%)
            extensions: ['blade.php', 'svg']
    - Vural\PHPStanBladeRule\Rules\ViewRuleHelper
    - Vural\PHPStanBladeRule\Blade\PhpLineToTemplateLineResolver
    - Vural\PHPStanBladeRule\ErrorReporting\Blade\TemplateErrorsFactory
    - Vural\PHPStanBladeRule\NodeAnalyzer\TemplateFilePathResolver
    - Vural\PHPStanBladeRule\NodeAnalyzer\LaravelViewFunctionMatcher
    - Vural\PHPStanBladeRule\NodeAnalyzer\BladeViewMethodsMatcher
    - Vural\PHPStanBladeRule\NodeAnalyzer\ViewDataParametersAnalyzer
    - Vural\PHPStanBladeRule\NodeAnalyzer\CompactFunctionCallParameterResolver
    - Vural\PHPStanBladeRule\NodeAnalyzer\MagicViewWithCallParameterResolver
    - Vural\PHPStanBladeRule\NodeAnalyzer\ValueResolver
    - 
        class: Vural\PHPStanBladeRule\Compiler\FileNameAndLineNumberAddingPreCompiler
        arguments:
            templatePaths: @Vural\PHPStanBladeRule\Support\DirectoryHelper::absolutizePaths(%templatePaths%)
    - Vural\PHPStanBladeRule\Compiler\BladeToPHPCompiler
    - Vural\PHPStanBladeRule\Compiler\PhpContentExtractor
    - Vural\PHPStanBladeRule\PHPParser\NodeVisitor\BladeLineNumberNodeVisitor
    - Vural\PHPStanBladeRule\PHPParser\ConvertArrayStringToArray
    - Vural\PHPStanBladeRule\Support\DirectoryHelper
