includes:
    - template-compiler/services.neon
    - template-compiler/config.neon

parameters:
    bladestan:
        template_paths:
            # default to typical Laravel directory
            - resources/views

parametersSchema:
    bladestan: structure([
        template_paths: listOf(string())
    ])

rules:
    - TomasVotruba\Bladestan\Rules\BladeRule

services:
    errorFormatter.blade:
        class: TomasVotruba\Bladestan\ErrorReporting\PHPStan\ErrorFormatter\BladeTemplateErrorFormatter

    - PhpParser\ConstExprEvaluator
    - Illuminate\Filesystem\Filesystem

    - TomasVotruba\Bladestan\Laravel\View\BladeCompilerFactory
    -
        class: Illuminate\View\Compilers\BladeCompiler
        factory: ['@TomasVotruba\Bladestan\Laravel\View\BladeCompilerFactory', 'create']

    - TomasVotruba\Bladestan\Laravel\View\FileViewFinderFactory
    -
        class: Illuminate\View\FileViewFinder
        factory: ['@TomasVotruba\Bladestan\Laravel\View\FileViewFinderFactory', 'create']

    - TomasVotruba\Bladestan\ViewRuleHelper
    - TomasVotruba\Bladestan\Blade\PhpLineToTemplateLineResolver
    - TomasVotruba\Bladestan\ErrorReporting\Blade\TemplateErrorsFactory
    - TomasVotruba\Bladestan\NodeAnalyzer\TemplateFilePathResolver
    - TomasVotruba\Bladestan\NodeAnalyzer\LaravelViewFunctionMatcher
    - TomasVotruba\Bladestan\NodeAnalyzer\BladeViewMethodsMatcher
    - TomasVotruba\Bladestan\NodeAnalyzer\ViewDataParametersAnalyzer
    - TomasVotruba\Bladestan\NodeAnalyzer\CompactFunctionCallParameterResolver
    - TomasVotruba\Bladestan\NodeAnalyzer\MagicViewWithCallParameterResolver
    - TomasVotruba\Bladestan\NodeAnalyzer\ValueResolver

    - TomasVotruba\Bladestan\Compiler\BladeToPHPCompiler
    - TomasVotruba\Bladestan\Compiler\PhpContentExtractor
    - TomasVotruba\Bladestan\PhpParser\NodeVisitor\BladeLineNumberNodeVisitor
    - TomasVotruba\Bladestan\PhpParser\ArrayStringToArrayConverter
    - TomasVotruba\Bladestan\Support\DirectoryHelper

    -
        class: TomasVotruba\Bladestan\PhpParser\NodeVisitor\ViewFunctionArgumentsNodeVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor
